@charset "UTF-8";
h1{
	color:#ff5d00;
    font-size: 5.5em;
    line-height: 80px;
    position:fixed;
    width:450px;
	text-align: right;
}

body{

	
  	padding-right: 10px;  
    font-family: sans-serif;
    background-size: 1000px;
    background-position:absolute;
    background-size: cover; 
    
}
form{
	
    margin-left:500px;
    margin-top: 110px;
    padding:10px;
   color:#ff5d00;
   float:right;
   position: absolute;
   line-height: 25px;
   color:#5e372e;
}
input{
	 background-color: white;
	 border-color:#ff5d00;
	 color:#5e372e;
/* 	 border-color: white; */
	 font-size: 18px;
	 width: auto;
	 align:center;
	
}

fieldset{
	border-width: medium;
    border-style: dashed;
    border-color: white;
    font-weight: bold;
}
