@charset "UTF-8";
h1{
	color:#ff5d00;
    font-size: 90px;
    line-height: 90px;
    position:fixed;
    width:500px;
}

body{

	text-align: right;
  	padding-right: 10px;  
   
    font-family: sans-serif;
/* background-image:url(dnut.jpg); */
    background-size: 1000px;
    background-position:absolute;
    background-size:     cover; 
    
}
form{
/* 	border:dotted; */
/* 	border-color:white; */
    margin-left: 550px;
    margin-top: 60px;
    padding:10px;
   color:#5e372e;
   float:right;
   position: absolute;
}
input{
	 background-color: yellow;
	 color:#ff5d00;
/* 	 border-color: white; */
	 font-size: 20px;
	  padding:10px;
}

